<h1>All Guardians</h1>

<div id="guardians">
    <% @guardians.each do |guardian| %>
        <%= render guardian %>
        <p>
            <%= link_to "Show", guardian %>
        </p>
    <% end %>
</div>