<%= render @guardian %>

<% if @guardian.children.present? %>
  <table>
    <thead>
    <tr>
      <th>Child Name</th>
      <th>Drop Off</th>
      <th>Pick Up</th>
    </tr>
    </thead>

    <tbody>
      <% @guardian.children.each do |child| %>
        <tr>
          <td><%= child.first_name + ' ' + child.last_name%></td>
          <td><%= button_to 'Drop Off', events_path(:event => { :child_id => child.id, :guardian_id => @guardian.id, :event_type => true }) %></td>
          <td><%= button_to 'Pick Up', events_path(:event => { :child_id => child.id, :guardian_id => @guardian.id, :event_type => 0 }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>